 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                   <img class="img-responsive" src="img/Johann.png" alt=""><br>
                      <h2>About Johann</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a Graphic and Web Designer, who sees himself as my clients Brand Ambassador whether you are a new start up or are considering a refresh to your look I am here to partner with you.</p>
                    <p>I work with you on your branding thoughts and ideas and convert them into your specific brand, client or audience; Pulling a rabbit from a hat, regardless of the deadline.
</p>
                    <p>I have a broad knowledge of design and coding and am comfortable in the knowledge that  I can mentor and develop fellow team members to help them reach their full potential. Knowledge is power and knowledge need to be shared.</p>
                </div>
                <div class="col-lg-4">
                    <p>My graphic and web designs are beautiful, usable and professional (even if I say do myself) using the latest best practices prescribed in our industry I am able to provide you with the look you envisage and want.
</p>
                    <p>To create my designs I utilize the Adobe Creative suite and to-date have produced and created print and digital work for a multitude of clients.</p>
                    <p>My passion is designing, giving you a beautiful and functional user experience, focusing on clean, elegant and efficient websites that entice the user and driving innovation and business growth.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://mrdutwa.github.io/pdf/Johann_du_Toit_CV.pdf" class="btn btn-lg btn-outline" target="_blank">
                        <i class="fa fa-download"></i> Download My CV
                    </a>
                </div>
            </div>
        </div>
    </section>
