 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                   <img class="img-responsive" src="img/Johann.png" alt=""><br>
                      <h2>About Johann</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a Graphic and Web Designer, but I see myself as my clients Brand Ambassador or as in the case of a start up a Brand Activator.</p>
                    <p>I enjoy the challenge of taking raw branding elements and making them work for a specific brand, client or target audience; Even if it means pulling a rabbit from a hat due to tight deadlines.</p>
                    <p>Over the years of broadening my knowledge of design and coding, I have developed my interpersonal skills to a stage where I can mentor and develop my fellow team members to help them reach their full potential. Knowledge is power and knowledge need to be shared.</p>
                </div>
                <div class="col-lg-4">
                    <p>My graphic and web designs are beautiful, usable and professional using the latest best practices prescribed in our industry.</p>
                    <p>To create my designs I utilize the Adobe Creative suite to produce and create print and digital work for a multitude of clients.</p>
                    <p>I have a passion for designing a beautiful and functional user experience, focusing on clean, elegant and efficient websites that entice the user and driving innovation and business growth. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://mrdutwa.github.io/pdf/Johann_du_Toit_CV.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download My CV
                    </a>
                </div>
            </div>
        </div>
    </section>
